# Activation du module de réécriture d'URL :
RewriteEngine on

# Règles de réécriture d'URL :
RewriteRule ^matelas/([0-9]+)$ index.php?page=matelas&id=$1
RewriteRule ^add_matelas$   ./index.php?page=add_matelas
