@use "reset";
@use "variables" as v;
@import "mixin";

// Globales

@font-face {
    font-family: 'Dharma';
    src: url('../fonts/DharmaGothicE_Regular_R.woff') format('woff'),
        url('../fonts/DharmaGothicE_Regular_R.woff2') format('woff2');
}

a {
    font-family: v.$font-second;
    color: v.$color-faded-lightgrey;
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

}

p {
    font-weight: 500;
    font-size: v.$font-xlarge;
    line-height: 1.7rem;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 40rem;

    @media screen and (min-width : v.$lg-breakpoint ) {
        max-width: 110rem;
    }
}

// Header

.header {
    display: flex;
    align-items: center;

    .header-wrap {
        display: flex;

        img:nth-child(1) {
            width: 10rem;

        }

        img:nth-child(2) {
            width: 35rem;
        }

        h1 {
            font-family: "Dharma";
        }
    }

}

#home{
    .content-wrap{
        display: flex;
    }
    .matelas-box{
        width: 35rem;
        height: 45rem;
        background-color: v.$color-white;
        border: v.$border-classic;
        border-radius: 1rem;
        box-shadow: v.$box-shadow;
        img{
            width: 30rem;
        }
    }
}